.btn-demo {
  color: #fff;
  background-color: #18BC9C;
  border-color: #18BC9C; }
  .btn-demo:hover, .btn-demo:focus, .btn-demo:active {
    color: #fff;
    background-color: #128f76;
    border-color: #128f76; 
    outline: none; }